<h1>Редактирование профиля</h1>
 
<%= render "edit_form", user: @user %>
<br>

<div>
  <%=flash[:notice]%>
  <br>
  <%= button_to "Удалить страницу", @user, method: :delete, :class => "btn btn-outline-danger" %>
  <%= link_to "Назад", profile_path, data: {'turbo-method' => :post} %>
</div>
